language: generic
sudo: required
services:
    - docker

before_install:
    - docker build -t stella3/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true stella3/docker-react npm run test -- --coverage